@import "../../../variables.scss";

.profileSection {
  padding: 8px;
  .headerProfile {
    margin-bottom: 30px;
    &__avatar {
      margin: auto;
      width: 100% !important;
      height: auto !important;
      max-width: 300px;
      border: 5px solid #6b6b6b;
      @media screen and (min-width: $screen-md) {
        margin: 0;
      }
    }
    &__description {
      text-align: center;
      @media screen and (min-width: $screen-md) {
        margin-top: 30px;
        text-align: left;
      }
      &__name, &__role, &__bio {
        margin: 5px 0px;
      }
    }
  }

  .contact {
    list-style-type: none;
    padding: 0;
    &__item {
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-wrap: wrap;
      margin: 5px 0px;
      @media screen and (min-width: $screen-md) {
        justify-content: flex-start;
      }
      & a,
      span {
        font-size: 14px;
        line-height: 26px;
      }
      & svg {
        margin-right: 3px;
        & path {
          color: #aeaeae;
        }
      }
      & .place-icon{
        & path {
          color: #d25238;
        }
      }
      & .email-icon{
        & path {
          color: #747474;
        }
      }
      & .whats-icon{
        & path {
          color: #075e54;
        }
      }
      & .calendar-icon{
        & path {
          color: #aeaeae;
        }
      }
    }
  }

  .personal {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: $screen-md) {
      text-align: left;
    }
    &__title {
      margin: 0px 0px 5px 0px;
    }
    &__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
    
  }

  .socialMedia {
    text-align: center;
    @media screen and (min-width: $screen-md) {
      text-align: left;
    }
    &__title {
      margin: 0px 0px 5px 0px;
    }
    .socialMedia__list {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-wrap: wrap;
      max-width: 260px;
      margin: auto;
      @media screen and (min-width: $screen-md) {
        margin: 0;
        justify-content: flex-start;
      }
      &__item {
        display: inline-block;
        &__link {
          display: inline-block;
          & svg {
            font-size: 2rem;
            color: #aeaeae;
            & path {
              color: #aeaeae;
            }
          }
          & .facebook-icon {
            & path {
              color: #3b5998;
            }
          }
          & .instagram-icon {
            & path {
              color: #c13584;
            }
          }
          & .linkedin-icon {
            & path {
              color: #2867B2;
            }
          }
          & .twitter-icon {
            & path {
              color: #1DA1F2;
            }
          }
          & .github-icon {
            & path {
              color: #333;
            }
          }
          & .esports-icon {
            & path {
              color: #6e5494;
            }
          }
        }
      }
    }
  }
}
